
body {
  background: #099D8D;
  width: 100%;
  height: 100%;
}

.page__wrapper {
  font-family: 'Roboto', sans-serif;
  background: white;
  width: 320px;
  height: 580px;
  border: 1px solid #099D8D;
  border-radius: 6px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px 10px 20px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #00D9C4;
  border-left: 0;
}

.header-logo {
  height: 50px;
  width: 50px;
}

.date {
  display: flex;
  flex-direction: row;
}

.date-number {
  color: #099D8D;
  font-size: 42px;
  display: inline-block;
}

.date__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: rgb(105, 101, 101);
  margin-left: 8px;
}

.date-day {
  font-weight: 500;
}

.month-year__wrapper {
  font-weight: 400;
  font-size: 14px;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 25px;
}

.modal__trigger-button {
  border: 3px solid #00D9C4;
  border-radius: 50px;
  font-size: 30px;
  color: #099D8D;
  width: 60px;
  height: 60px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-open {
  display: block;
}

.modal__background {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.modal__content {
  position: absolute;
  bottom: 30px;
  background-color: #099D8D;
  margin: auto;
  padding: 20px;
  border: 1px solid #099D8D;
  width: 80%;
}

.task-list__current, .task-list__completed {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__element {
  color: rgb(105, 101, 101);
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.completed-task {
  text-decoration: line-through;
  color: lightgray;
}

.completed-task:before {
  background: url(images/check.svg) center center no-repeat;
  background-size: 15px;
  border: 2px solid #099D8D;
  margin-right: 15px;
}

ul li:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #00D9C4;
  border-radius: 50px;
  margin-right: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98px;
}